= form_for :session, url: session_path do |form|
  .form-control.w-full
    = form.label :email, class: 'label label-text'
    = form.text_field :email, type: 'email', placeholder: t("helpers.label.password.email"), class: 'input input-bordered w-full'
  .form-control.w-full
    = form.label :password, class: 'label label-text'
    = form.password_field :password, placeholder: t("helpers.label.session.password"), class: 'input input-bordered w-full'
  .form-control
    = form.submit(t("helpers.submit.session.submit"), class: 'btn w-full my-6')
  .other-links.pt-2
    %ul.pt-3.flex.flex-col.gap-2
      - if Clearance.configuration.allow_sign_up?
        %li
          = link_to t(".sign_up"), sign_up_path, class: 'link-hover'
      %li
        = link_to t(".forgot_password"), new_password_path, class: 'link-hover'
