= form_for :session, url: session_path do |form|
  %div
    = form.text_field :email, type: 'email', placeholder: 'Email',
      class: 'form-control rounded'
    = form.label :email
  %div
    = form.password_field :password, placeholder: 'Password',
      class: 'form-control rounded'
    = form.label :password
  %div
    = form.submit class: 'btn btn-primary rounded'
  .other-links
    - if Clearance.configuration.allow_sign_up?
      = link_to t(".sign_up"), sign_up_path
    = link_to t(".forgot_password"), new_password_path
