.mb-4
  %div
    %a{id: "ts_#{message.ts}"}
    %strong
      %span{style: "color: #{message.user.color}"}
        = message.user.display_name
    %span= message.posted_at.strftime("%-l:%M%P")
  %div!= message.text
  - message.attachments.each do |attachment|
    %div
      %i.fas.fa-caret-right
      = link_to attachment.name, attachment.url
