.display
  %h1= '#' + @channel.name
  = render(partial: 'next_prev_day')
  = paginate @messages
  %h5= long_date_with_year(@date)
  = render(partial: 'message', collection: @messages)
  = paginate @messages
  = render(partial: 'next_prev_day')
