.display
  %h2 ##{@channel.name}

  -# this month
  - dates_in_month(@this_month, @this_year, @dates_with_counts).each do |dc|
    - date = dc[0]; count = dc[1]
    %div
      = link_to("#{long_date(date)} (#{pluralize(count, 'message')})",
        channel_date_path(@channel, date), { class: 'nav-link pl-0' })
  -# previous months of this year
  - (@this_month - 1).downto(1).each do |month|
    - if month_in?(month, @this_year, @dates_with_counts)
      %div
        %a.nav-link.pl-0{href: "#month-#{month}", data: {toggle: 'collapse'}} #{Date::MONTHNAMES[month]} #{@this_year}
        %div.collapse{id: "month-#{month}"}
          - dates_in_month(month, @this_year, @dates_with_counts).each do |dc|
            - date = dc[0]; count = dc[1]
            %div
              = link_to("#{long_date(date)} (#{pluralize(count, 'message')})",
                channel_date_path(@channel, date), { class: 'nav-link pl-0' })
  -# TODO: previous years
