.display
  %h2 ##{@channel.name}

  %ul.nav.flex-column
    - @dates_counts.each do |date, count|
      %li.nav-item
        = link_to("#{date.strftime('%B')} #{date.mday.ordinalize} (#{pluralize(count, 'message')})",
          { controller: :display, action: :show_by_date, channel_id: @channel, date: date },
          { class: 'nav-link pl-0' })
