= form_with(scope: :search, url: '/search', method: 'get', local: true) do |f|
  .form-floating.mb-3
    = f.search_field(:query, value: params[:search][:query], placeholder: '', class: 'form-control rounded')
    = f.label(:query, 'Keywords')
  .row
    .col-md
      .input-group.mb-3
        .form-floating.form-floating-group.flex-grow-1
          = f.text_field(:after, value: params[:search][:after],
             placeholder: '', class: 'form-control rounded-0 rounded-start',
             data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_allow_input: true,
             flatpickr_alt_input: true, flatpickr_alt_format: 'Y-m-d h:iK' })
          = f.label(:after, 'Between')
        %span.input-group-text.rounded-0.rounded-end
          %i.fas.fa-calendar-alt
    .col-md
      .input-group.mb-3
        .form-floating.form-floating-group.flex-grow-1
          = f.text_field(:before, value: params[:search][:before],
            placeholder: '', class: 'form-control rounded-0 rounded-start',
            data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_allow_input: true,
            flatpickr_alt_input: true, flatpickr_alt_format: 'Y-m-d h:iK' })
          = f.label(:after, 'and')
        %span.input-group-text.rounded-0.rounded-end
          %i.fas.fa-calendar-alt

  .form-floating.mb-3
    - options = [['Any channel', '']] + @channels.map {|channel| [channel.name, channel.id]}
    = f.select :channel_id,
               (options_for_select options, selected: params[:search][:channel_id]),
               { },
               { class: 'form-select rounded' }
    = f.label(:channel_id, 'Channel')
  .form-floating.mb-3
    - options = [['Any user', '']] + @users.map {|user| [user.display_name, user.id]}
    = f.select :user_id,
               (options_for_select options, selected: params[:search][:user_id]),
               { },
               { class: 'form-select rounded' }
    = f.label(:user_id, 'User')

  = f.submit('Search', class: 'btn btn-primary rounded')
