= form_with(scope: :search, url: '/search', method: 'get', local: true) do |f|
  .form-floating.mb-3
    = f.search_field(:query, value: params[:search][:query], placeholder: '', class: 'form-control rounded')
    = f.label(:query, 'Keywords')
  .row
    .col-md
      .form-floating.mb-3
        = f.text_field(:after, value: params[:search][:after],
          placeholder: 'Someday', class: 'form-control rounded',
          data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_allow_input: true,
          flatpickr_alt_input: true, flatpickr_alt_format: 'Y-m-d h:iK' })
        = f.label(:after, 'Between')
    .col-md
      .form-floating.mb-3
        = f.text_field(:before, value: params[:search][:before],
          placeholder: 'Someday later', class: 'form-control rounded',
          data: { controller: 'flatpickr', flatpickr_enable_time: true, flatpickr_allow_input: true,
          flatpickr_alt_input: true, flatpickr_alt_format: 'Y-m-d h:iK' })
        = f.label(:after, 'and')
  .form-floating.mb-3
    = f.collection_select(:channel_id, @channels, :id, :name,
        { selected: params[:search][:channel_id], prompt: 'Any channel' },
        { class: 'form-select rounded' })
    = f.label(:channel_id, 'Channel')
  .form-floating.mb-3
    = f.collection_select(:user_id, @users, :id, :display_name,
      { selected: params[:search][:user_id], prompt: 'Any user' },
      { class: 'form-select rounded' })
    = f.label(:user_id, 'User')

  = f.submit('Search', class: 'btn btn-primary rounded')
