= form_with(scope: :search, url: '/search', method: 'get', local: true) do |f|
  %div
    = f.search_field(:query, value: params[:search][:query], placeholder: '')
    = f.label(:query, 'Keywords')
  %div
    %div
      = f.text_field(:after, value: params[:search][:after], placeholder: '')
      = f.label(:after, 'Between')
    %i.fas.fa-calendar-alt
    %div
      = f.text_field(:before, value: params[:search][:before], placeholder: '')
      = f.label(:after, 'and')
    %i.fas.fa-calendar-alt

  %div
    - options = [['Any channel', '']] + @channels.map {|channel| [channel.name, channel.id]}
    = f.select(:channel_id, (options_for_select options, selected: params[:search][:channel_id]))
    = f.label(:channel_id, 'Channel')
  %div
    - options = [['Any user', '']] + @users.map {|user| [user.display_name, user.id]}
    = f.select(:user_id, (options_for_select options, selected: params[:search][:user_id]))
    = f.label(:user_id, 'User')

  = f.submit('Search')
