.search
  %h1 Search

  = render partial: 'form'

  - unless @messages.nil?
    %hr
    .results
      %small.text-muted
        - if @messages.count > SearchController::MAX_RESULTS
          showing
          #{number_with_delimiter(SearchController::MAX_RESULTS)}
          of
        #{pluralize(number_with_delimiter(@messages.count), 'message')} found
      = render partial: 'message', collection: @messages
      = paginate @messages
