#clearance.sign-up
  %h1= t(".title")
  = form_for @user do |form|
    = render partial: '/users/form', object: form
    .mb-3
      = form.submit class: 'btn btn-primary rounded'
    .other-links
      = link_to t(".sign_in"), sign_in_path
