%meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
%title= @title || "Archive"
= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag "application", data: { turbo_track: "reload" }
= vite_client_tag
= vite_javascript_tag "application"
%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
= render(partial: "shared/favicon")
