%div
  %a{href: url_for(:root)}
    %i.fas.fa-archive
    Archive
  %ul
    %li{class: "#{'active' if current_page?({ controller: '/display', action: :index })}"}
      %a{href: url_for(:root)}
        Home

    %li
      %a{href: '#', class: "#{'active' if current_page?({ controller: '/display', action: :show} )}"}
        Channels
      %ul
        - channels_with_messages.each do |channel|
          %li
            %a{class: "#{'active' if current_page?(channel)}", href: url_for(channel)}= "\##{channel.name}"

    %li{class: "#{'active' if current_page?({ controller: '/search', action: :index })}"}
      %a{href: url_for(:search)}
        Search

  %div
    %a{href: 'https://rae.evilpaws.org/', rel: "nofollow", data: { confirm: 'Ready to leave?' }}
      rae.evilpaws.org
      %i.fas.fa-external-link-alt
