%p#notice= notice

%p
  %b Name:
  = @attachment.name
%p
  %b Url:
  = @attachment.url
%p
  %b Message:
  = @attachment.message

= link_to 'Edit', edit_attachment_path(@attachment)
\|
= link_to 'Back', attachments_path
