#clearance.password-reset
  %h1.text-2xl.pb-3= t(".title")
  %p= t(".description")
  = form_for :password, url: passwords_path do |form|
    .form-control.w-full
      = form.label 'Email', class: 'label label-text'
      = form.text_field :email, type: 'email', placeholder: t("helpers.label.password.email"), class: 'input input-bordered w-full'
    .form-control
      = form.submit(t("helpers.submit.password.submit"), class: 'btn w-full mt-6')
