%h1 Admin Login
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group.form-row
    = f.label :email, class: 'col-md-2 col-lg-1 col-form-label text-md-right'
    .col-md-6
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control input-sm'
  .form-group.form-row
    = f.label :password, class: 'col-md-2 col-lg-1 col-form-label text-md-right'
    .col-md-6
      = f.password_field :password, autocomplete: 'current-password', class: 'form-control input-sm'
  - if devise_mapping.rememberable?
    .form-group.form-check.offset-md-2.offset-lg-1
      = f.check_box :remember_me, class: 'form-check-input'
      .form-check-label
        = f.label :remember_me, class: 'form-check-label'
  .form-group.form-row
    .offset-md-2.offset-lg-1.pl-1
      = f.submit 'Log in', class: 'btn btn-primary btn-sm'
= render 'devise/shared/links'
