!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Archive
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{type: 'text/javascript',
      src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'}
    %script{type: 'text/javascript',
      src: 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'}'
    %script{type: 'text/javascript',
      src: 'https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js'}
    %link{rel: 'stylesheet',
      href: 'https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css'}

    / For old IEs
    %link{:href => 'favicon.ico', :rel => 'shortcut icon'}/
    / For new browsers - multisize ico
    %link{:href => 'favicon.ico', :rel => 'icon', :sizes => '16x16 32x32', :type => 'image/x-icon'}/
    / For iPad with high-resolution Retina display running iOS ≥ 7:
    %link{:href => 'favicon-152-precomposed.png', :rel => 'apple-touch-icon', :sizes => '152x152'}/
    / For iPad with high-resolution Retina display running iOS ≤ 6:
    %link{:href => 'favicon-144-precomposed.png', :rel => 'apple-touch-icon', :sizes => '144x144'}/
    / For iPhone with high-resolution Retina display running iOS ≥ 7:
    %link{:href => 'favicon-120-precomposed.png', :rel => 'apple-touch-icon', :sizes => '120x120'}/
    / For iPhone with high-resolution Retina display running iOS ≤ 6:
    %link{:href => 'favicon-114-precomposed.png', :rel => 'apple-touch-icon', :sizes => '114x114'}/
    / For iPhone 6+
    %link{:href => 'favicon-180-precomposed.png', :rel => 'apple-touch-icon', :sizes => '180x180'}/
    / For first- and second-generation iPad:
    %link{:href => 'favicon-72-precomposed.png', :rel => 'apple-touch-icon', :sizes => '72x72'}/
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    %link{:href => 'favicon-57.png', :rel => 'apple-touch-icon', :sizes => '57x57'}/
    / For Old Chrome
    %link{:href => 'favicon-32.png', :rel => 'icon', :sizes => '32x32'}/
    / For IE10 Metro
    %meta{:content => '#FFFFFF', :name => 'msapplication-TileColor'}/
    %meta{:content => 'favicon-144.png', :name => 'msapplication-TileImage'}/
    %meta{:content => '#ffffff', :name => 'theme-color'}/
    / Chrome for Android
    %link{:href => 'manifest.json', :rel => 'manifest'}/
    %link{:href => 'favicon-192.png', :rel => 'icon', :sizes => '192x192'}/

  %body
    .container
      = render(partial: 'shared/header')

      %p.notice= notice
      %p.alert= alert

      = yield
