!!!
%html
  %head
    = render(partial: 'shared/head')
    = render(partial: 'shared/favicon')

  %body
    .container
      = render(partial: 'shared/header')
      = render(partial: 'shared/alerts')
      = yield
